{% extends "_template.html.twig" %}

{% block title %}
    Artistes
{% endblock %}

{% block content %}
    {# div.section>h2.title{Liste des artistes} #}
    <div class="section">
        <h2 class="title">Liste des artistes</h2>
    </div>
{% endblock %}
